<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- =========Style========== -->
<style>
    h1 {
        background-color: {{color_two}};
        color: {{color_one}} ;
    }

    .color1 {
        background-color: {{color_one}};
    }

    .color2 {
        background-color: {{color_two}};
    }

</style>

</head>

<body>
    
    <h1>Checkerboard</h1>
    <table>
        <tbody>
            {% for i in range(0,row) %}
                <tr>
                    {% for x in range(0,col) %}
                        {% if (x+i) % 2 == 0 %}
                            <td class="color1"></td>
                        {% else %}
                            <td class="color2"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    

</body>
</html>